<h3>No mockup to render</h3>
<p>Use the <em>path</em> query parameter to render a mockup.</p>
<p>Ex: <pre>[host]/mockup?path=foobar/baz.html</pre></p>
<p>
    Note that:
    <ul>
        <li>
            path must start with the bundle name in short, lower case
            notation (e.g. bundle <em>FooBarBundle</em> becomes <em>foobar</em>)
        </li>
        <li>
            <em>.twig</em> extension must be omitted
        </li>
    </ul>
</p>